@charset "UTF-8";

div#fotos-interface{
	width: 1200px;
	height: 900px;
	margin: 10px auto 0px auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 100px;
	padding-top:10px;
	border: 3px solid #ffffff;
	background-color: #c0d7ac;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

div#fotos-interface h2#fotos-titulo {
	padding-top: 50px;
	padding-left: 100px;

}

ul#album-fotos {
	width: 1000px;
	margin: 0px;
	padding: 1% 10% 10% 10%;
	overflow: hiden;
	list-Style: none;
}

ul#album-fotos li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 50px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

ul#album-fotos li:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

ul#album-fotos li span {
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

ul#album-fotos li:hover span{
	opacity: 1;
}

ul#album-fotos li#foto-01 {
	background: url('../../lib/images/code-tela.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
}

ul#album-fotos li#foto-01:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto-02 {
	background: url('../../lib/images/ferro-smartphone.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
}

ul#album-fotos li#foto-02:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}


ul#album-fotos li#foto-03 {
	background: url('../../lib/images/work-1.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
}

ul#album-fotos li#foto-03:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto-04 {
	background: url('../../lib/images/iphone.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
}

ul#album-fotos li#foto-04:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto-05 {
	background: url('../../lib/images/smartphone-1.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
}

ul#album-fotos li#foto-05:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto-06 {
	background: url('../../lib/images/imgchegada.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
}

ul#album-fotos li#foto-06:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

