@charset "UTF-8";

div#fundo-estatisticas{
  width: 100%;
  background-image: url("../images/templo-1900x1188.jpg");
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: -100;			
}


div section#totais{
	border: 1px solid #f4511e;
	border-radius: 6px;	
	margin:15px 0px 15px 0px;
	box-shadow: 8px 8px 3px rgba(0,0,0,0.5);
  background: rgba(126, 187, 61, 1);   /* desativado efeito*/
}

div section#totais:hover{
	background:rgba(255,165,0, 1); 
	box-shadow: 0px 0px 30px rgba(0,0,0,.5);
	-webkit-transform: scale(1.02);
}
	
.lbtotais{
	color: #000;	
}

div section#ttVisitantes{
	border: 1px solid #f4511e;
	border-radius: 6px;	
	background: rgba(126, 187, 61, 1);   /* desativado efeito*/
	margin:15px 0px 15px 0px;
	box-shadow: 8px 8px 3px rgba(0,0,0,.5);
}
div section#ttVisitantes:hover{	
	background: rgba(255,165,0, 1);
	border: 1px solid #f4511e;
	box-shadow: 0px 0px 30px rgba(0,0,0,.5);
	-webkit-transform: scale(1.02);
}

section#membros{
	border: 1px solid #f4511e;
	border-radius: 6px;	
	background: rgba(126, 187, 61, 1);  /* desativado efeito*/
	margin:15px 0px 15px 0px;
	box-shadow: 8px 8px 3px rgba(0,0,0,.5);
}
section#membros:hover{
	background: rgba(255,165,0, 1);
	box-shadow: 0px 0px 30px rgba(0,0,0,.5);
	-webkit-transform: scale(1.02);	
}



section#adultos_criancas{
	border: 1px solid #f4511e;
	border-radius: 6px;	
	background: rgba(126, 187, 61, 1);  /* desativado efeito transparencia*/
	margin:50px 0px 0px 0px;
	box-shadow: 8px 8px 3px rgba(0,0,0,.5);
}

section#adultos_criancas:hover{   
  background: rgba(255,165,0, 1);
	-webkit-transform: scale(1.02);
	box-shadow: 0px 0px 30px rgba(0,0,0,.5);
}






/************* Inicio Media queres ******************/

@media screen and (max-width: 800px) {
	div section#totais{
	width: 220px;
	}
}

@media screen and (max-width: 1024px) and (min-width: 801px)  {
			
	div section#totais{
			width: 200px;
			min-width: 180px;
			min-height: 120px;
			font-size: small;
			line-height: 0.8888888;
	}
	
}	

/* MUDANÇAS PARA TAMANHO DE TELA */
@media screen and (max-width: 1366px) and (min-width: 1025px)  {

		label{
			font-weight: 900;
			font-style: italic;
		}
		div section#totais{
			float:right;
			width: 320px;
			min-width: 220px;
			min-height: 120px;
			margin: 0px 0px 50px 0px;
			padding: 10px 16px 10px 10px;
			font-size: medium;
			line-height: 1.0000000;
			border: 1px solid #f4511e;
		}
		
		div section#totais label{
			margin-top: 6px;
		}
		
		div section#ttVisitantes{
			float:left;
			display: inline-block;
			width: 460px;
			min-width: 450px;
			min-width:42%;
			min-height: 100px;
			height: auto;
			margin: 0px 50px 50px 0px;
			padding: 10px 16px 10px 10px;
			font-size: medium;
			line-height: 0.6666666;
		}
		
		div section#ttVisitantes ul{
			margin:-20px 0px 0px 220px;
			padding:10px 0px 8px 0px;
			list-style-type: none;
		
		}
		div section#ttVisitantes ul li{
			margin:2px auto 6px auto;
			height: auto !important;
		}
		div section#ttVisitantes ul label{
			margin:2px 1px 6px 0px;  
			padding-bottom: 6px;
			display: inline-block;
			
		}
		section#membros{
			float:left;
			width: 460px;
			min-width: 450px;
			min-width:42%;
			min-height: 100px;
			height: auto;
			margin: 0px 50px 50px 0px;
			padding: 30px;
			font-size: medium;
			line-height: 1.6666666;
		
		}
		
		section#membros ul{ 
			margin:-30px 0px 0px 220px;
			padding:0px;
			list-style-type: none;
			width: 90%;
		}
		
		section#membros ul li{
			margin:2px auto 6px auto;
			font-weight: 100;
			height: auto !important;
			width: auto;
		}
		
		section#membros ul label{ 
			margin:2px 1px 6px 0px;  
			padding-bottom: 6px;
			font-weight: 800;	
			display: inline-block;	
		}
		
		section#adultos_criancas{
			float:right;
			width: 500px;
			max-width: 60%;	
			height: auto;
			font-size: medium;
			line-height: 1.2222222;
		}
		
		section#adultos_criancas div#lista_aj{
			width:100%;
		}
	
		
		
		.graficos {
				background-size: 408px 300px;
			}
		.graficos .col-md-4{
				width: 33.33333333% !important;
				height:300px; 
			}
		.chart{
			background-color: #ffffff;
			display: inline-block;
			width: 640px;
			height: 650px;
			max-height: 650px;
			max-width:640px;
			display:inline-block;
			margin:20px;
			color:#ffffff;
			margin:15px 0px 15px 0px;		
			margin-top: 100px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
			opacity: 1;
			
		 }
}


@media screen and (max-width: 1560px) and (min-width: 1367px){}

		label{
			font-weight: 900;
			font-style: italic;
			}
		div section#totais{
			float:right;
			width: 320px;
			min-width: 220px;
			min-height: 120px;
			margin: 0px 0px 50px 0px;
			padding: 10px 16px 10px 10px;
			font-size: medium;
			line-height: 1.2222222;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:15px 0px 15px 0px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		
		}
		
		
		div section#totais label{
			margin-top: 6px;
		}
		
		div section#ttVisitantes{
			float:left;
			display: inline-block;
			width: 460px;
			min-width: 450px;
			min-width:42%;
			min-height: 100px;
			height: auto;
			margin: 0px 50px 50px 0px;
			padding: 10px 16px 10px 10px;
			font-size: medium;
			line-height: 0.6666666;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:15px 0px 15px 0px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		}
		
		div section#ttVisitantes ul{
			margin:-20px 0px 0px 220px;
			padding:10px 0px 8px 0px;
			list-style-type: none;
		
		}
		div section#ttVisitantes ul li{
			margin:2px auto 6px auto;
			height: auto !important;
		}
		div section#ttVisitantes ul label{
			margin:2px 1px 6px 0px;  
			padding-bottom: 6px;
			display: inline-block;
			
		}
		section#membros{
			float:left;
			width: 460px;
			min-width: 450px;
			min-width:42%;
			min-height: 100px;
			height: auto;
			margin: 0px 50px 50px 0px;
			padding: 30px;
			font-size: medium;
			line-height: 1.6666666;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:15px 0px 15px 0px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		}
		
		
		section#membros ul{ 
			margin:-30px 0px 0px 220px;
			padding:0px;
			list-style-type: none;
			width: 90%;
		}
		
		section#membros ul li{
			margin:2px auto 6px auto;
			font-weight: 100;
			height: auto !important;
			width: auto;
		}
		
		section#membros ul label{ 
			margin:2px 1px 6px 0px;  
			padding-bottom: 6px;
			font-weight: 800;	
			display: inline-block;	
		}
		
		section#adultos_criancas{
			float:right;
			width: 400px;
			max-width: 400%;	
			height: auto;
			font-size: medium;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:50px 0px 0px 100px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		}
		
		section#adultos_criancas div#lista_aj{
			width:99%;
			}
		
		
		.graficos {
				background-size: 500px 100%;
			}
		.graficos .col-md-4{
				width: 33.33333333% !important;
				height:300px; 
			}
		.chart{
			background-color: #ffffff;
			display: inline-block;
			width: 640px;
			height: 650px;
			max-height: 650px;
			max-width:640px;
			display:inline-block;
			margin:20px;
			color:#ffffff;
			margin:15px 0px 15px 0px;	
			margin-top: 100px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
			
		}
		


@media screen and (max-width: 1900px) and (min-width: 1551px){

		label{
			font-weight: 900;
			font-style: italic;
			}
		div section#totais{
			float:right;
			width: 320px;
			min-width: 220px;
			min-height: 120px;
			margin: 0px 0px 50px 0px;
			padding: 10px 16px 10px 10px;
			font-size: medium;
			line-height: 1.2222222;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:15px 0px 15px 0px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);

		}
		
		div section#totais label{
			margin-top: 6px;
		}
		
		div section#ttVisitantes{
			float:left;
			display: inline-block;
			width: 460px;
			min-width: 450px;
			min-width:42%;
			min-height: 100px;
			height: auto;
			margin: 0px 50px 50px 0px;
			padding: 10px 16px 10px 10px;
			font-size: medium;
			line-height: 0.6666666;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:15px 0px 15px 0px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		}
		
		div section#ttVisitantes ul{
			margin:-20px 0px 0px 220px;
			padding:10px 0px 8px 0px;
			list-style-type: none;
		
		}
		div section#ttVisitantes ul li{
			margin:2px auto 6px auto;
			height: auto !important;
		}
		div section#ttVisitantes ul label{
			margin:2px 1px 6px 0px;  
			padding-bottom: 6px;
			display: inline-block;
			
		}
		section#membros{
			float:left;
			width: 460px;
			min-width: 450px;
			min-width:42%;
			min-height: 100px;
			height: auto;
			margin: 0px 50px 50px 0px;
			padding: 30px;
			font-size: medium;
			line-height: 1.6666666;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:15px 0px 15px 0px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		}
		
		
		section#membros ul{ 
			margin:-30px 0px 0px 220px;
			padding:0px;
			list-style-type: none;
			width: 90%;
		}
		
		section#membros ul li{
			margin:2px auto 6px auto;
			font-weight: 100;
			height: auto !important;
			width: auto;
		}
		
		section#membros ul label{ 
			margin:2px 1px 6px 0px;  
			padding-bottom: 6px;
			font-weight: 800;	
			display: inline-block;	
		}
		
		section#adultos_criancas{
			float:right;
			width: 400px;
			max-width: 400%;	
			height: auto;
			font-size: medium;
			line-height: 1.6666666;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:50px 0px 0px 100px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		}
		
		section#adultos_criancas div#lista_aj{
			width:99%;
			}
		section#adultos_criancas li{
			margin-top: 40px;
			}
		
		
		.graficos {
				background-size: 500px 100%;
			}
		.graficos .col-md-4{
				width: 33.33333333% !important;
				height:300px; 
			}
		.chart{
			background-color: #ffffff;
			display: inline-block;
			width: 640px;
			height: 650px;
			max-height: 650px;
			max-width:640px;
			display:inline-block;
			margin:20px;
			color:#ffffff;
			margin:15px 0px 15px 0px;		
			margin-top: 100px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
			opacity: 0.8;
			
		}

}





@media screen and (min-width: 1901px) {
	
		label{
			font-weight: 900;
			font-style: italic;
			}
		div section#totais{
			float:right;
			width: 320px;
			min-width: 220px;
			min-height: 120px;
			margin: 0px 0px 50px 0px;
			padding: 10px 16px 10px 10px;
			font-size: medium;
			line-height: 1.2222222;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:15px 0px 15px 0px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
			
		}
		
		div section#totais label{
			margin-top: 6px;
		}
		
		div section#ttVisitantes{
			float:left;
			display: inline-block;
			width: 460px;
			min-width: 450px;
			min-width:42%;
			min-height: 100px;
			height: auto;
			margin: 0px 50px 50px 0px;
			padding: 10px 16px 10px 10px;
			font-size: medium;
			line-height: 0.6666666;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:15px 0px 15px 0px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		}
		
		div section#ttVisitantes ul{
			margin:-20px 0px 0px 220px;
			padding:10px 0px 8px 0px;
			list-style-type: none;
		
		}
		div section#ttVisitantes ul li{
			margin:2px auto 6px auto;
			height: auto !important;
		}
		div section#ttVisitantes ul label{
			margin:2px 1px 6px 0px;  
			padding-bottom: 6px;
			display: inline-block;
			
		}
		section#membros{
			float:left;
			width: 460px;
			min-width: 450px;
			min-width:42%;
			min-height: 100px;
			height: auto;
			margin: 0px 50px 50px 0px;
			padding: 30px;
			font-size: medium;
			line-height: 1.6666666;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:15px 0px 15px 0px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		}
		
		
		section#membros ul{ 
			margin:-30px 0px 0px 220px;
			padding:0px;
			list-style-type: none;
			width: 90%;
		}
		
		section#membros ul li{
			margin:2px auto 6px auto;
			font-weight: 100;
			height: auto !important;
			width: auto;
		}
		
		section#membros ul label{ 
			margin:2px 1px 6px 0px;  
			padding-bottom: 6px;
			font-weight: 800;	
			display: inline-block;	
		}
		
		section#adultos_criancas{
			float:right;
			width: 400px;
			max-width: 400%;	
			height: auto;
			font-size: medium;
			line-height: 0.6666666;
			border: 1px solid #f4511e;
			border-radius: 6px;	
			margin:50px 0px 0px 100px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
		}
		
		section#adultos_criancas div#lista_aj{
			width:99%;
			}
		section#adultos_criancas ul{
			margin-top: 40px;
			}
		
		
		.graficos {
				background-size: 500px 100%;
			}
		.graficos .col-md-4{
				width: 33.33333333% !important;
				height:300px; 
			}
		.chart{
			background-color: #ffffff;
			display: inline-block;
			width: 640px;
			height: 650px;
			max-height: 650px;
			max-width:640px;
			display:inline-block;
			margin:20px;
			color:#ffffff;
			margin:15px 0px 15px 0px;			
			margin-top: 100px;
			box-shadow: 8px 8px 3px rgba(0,0,0,.5);
			opacity: 0.8;
			
		}


} 


/****************** FIM SCREAM *********************/


