@charset "UTF-8";

@media screen and (min-width: 250px) and (max-width: 600px) {
			
			div#fundoRelatorioView {
			  background-size:100%;
			  width: 100%  !important;
			  padding-bottom:-100px !important; 
		  }
		  
			div#fundoRelatorioView {
				padding:0%  !important; 
			  margin:-2%  !important;
			  background-size:auto;
			}
}             /* media screen 800 */


div#fundoRelatorioView {
	position:absolute;
	padding:0%  !important; 
	margin:-2%  !important;
	background-size:100%;
	background-image:  url("../images/biblia-2475x945.png") !important;
	background-repeat: no-repeat !important;
	z-index: -500 !important;
	height: 100%  !important;
	width: 100%  !important;
}



.grupoRel{
	border: 2px solid #000000;
	margin: 10px 20px 10px 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

input[type='checkbox']{
	width: 20px;
	height:20px;
	margin-left:5px;
	margin-right:10px;
}
input[type='radio']{
	width: 15px;
	height:15px;
	margin-left:5px;
	margin-right:10px;
}

#relatorio{
	height: auto;
	width: 100%;
}


#caminho, #caminho2, #caminho3, #caminho4{
	padding: 10px 16px;
	font-size: 15px;
	line-height: 0.6666666;
	border-radius: 6px;	
	background-color:#ccf7e1;
	font-family: sans-serif;
	font-color: #000000;
}





